* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 5%;
  background: #060AB2;
  color: white;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}


.memory-game {
  width: 840px;
  height: 640px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(16.666% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transition: all .5s;
  transform-style: preserve-3d;
  transform: scale(1);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
  background: white;
}

.front-face {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(22, 84, 109);
  transform: rotateY(180deg);
}
